<h1>Groups#show</h1>

<%= link_to "Edit Group", edit_group_path(@group) %>

<h2><%= @group.title %></h2>

<div id="tags">
  Tags: <%= @group.tag_list %>
</div>

<%= render "members" %>

<p>
  <% unless @group.users.include?(current_user) %>
    <%= simple_form_for :group, :url => group_join_path(@group) do |f| %>
      <%= f.button :submit, "Join group" %>
    <% end %>
  <% end %>
</p>

<div id='articles'>
  Articles: <%= link_to "new article", [:new, @group, :article] %>
  <%= render @group.articles %>
</div>