<!DOCTYPE html>
<html>
<head>
  <title>SocialNetwork</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
    <%= link_to "My Profile", profile_path %> |
    <%= link_to "Groups", groups_path %> |
    <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%=  %>
  <% end %>

<%= yield %>
</body>
</html>